#btnAñadirJuego {
    background-color: #583586;
    color: white;
}

#btnAñadirJuego:hover {
    background-color: #5f3f8a;
    color: white;
}

.btn-no-comprado {
    background-color: rgba(255, 255, 255, 0.15);
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: #fff;
    font-size: 1.1rem;
    transition: all 0.3s ease;
}

.btn-no-comprado:hover {
    background-color: rgba(255, 255, 255, 0.25);
    transform: scale(1.1);
}

/* Estado comprado */
.btn-comprado {
    background-color: rgba(255, 215, 0, 0.2); /* dorado translúcido */
    border: 1px solid rgba(255, 215, 0, 0.5);
    color: #ffd700; /* amarillo dorado */
    font-size: 1.1rem;
    text-shadow: 0 0 5px #ffd700;
    transition: all 0.3s ease;
}

.btn-comprado:hover {
    background-color: rgba(255, 215, 0, 0.35);
    transform: scale(1.2);
}